@model boilerplate.web.Models.MUser

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Role Details</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <a asp-action="Index" class="btn btn-xs btn-primary">Back</a>
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
            <!--begin::Col-->
            <div class="col-md-12">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                    <!--begin::Header-->
                    <div class="card-header"><div class="card-title">Quick Example</div></div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form asp-action="Edit">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">FullName</label>
                                <input asp-for="FullName" class="form-control" disabled />
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control" disabled />
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input asp-for="Password" class="form-control" disabled />
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">RolesId</label>
                                <input asp-for="RolesId" class="form-control" disabled />
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        @* <div class="card-footer">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        </div> *@

                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Quick Example-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
</div>
